body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.hours {
    font-size: 3rem;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #333;
    color: #333;

}

.minutes {
    font-size: 3rem;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #333;
    color: #333;

}

.seconds {
    font-size: 3rem;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #333;
    color: #333;

}