body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:royalblue;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: aliceblue;
    color: royalblue;
}

section.about {
    padding: 2rem;
    margin: 2rem 0;
    background-color:red;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: royalblue;
    color: #fff;
}
